<form [formGroup]="buForm">
  
    <div class="row" formGroupName="address">
        <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label>Address 1</label>
                    <input type="text" placeholder="Enter address 1" class="form-control" formControlName="address1"/>
                </div>
        </div>

        <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label>Address 2</label>
                    <input type="text" placeholder="Enter address 1" class="form-control" formControlName="address2"/>
                </div>
        </div>
        
        <div class="col-sm-12 col-md-6">
            <app-country-form [country]="'Country list'" formControlName="country"></app-country-form>
        </div>

        <div class="col-sm-12 col-md-6">
            <app-state-form formControlName="state"></app-state-form>
        </div>

        <div class="col-sm-12 col-md-6">
            <app-city-form formControlName="city"></app-city-form>
        </div>
        
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
            </div>
        </div>
    </div>
  <button type="button" class="btn btn-primary" [disabled]="!buForm.valid" (click)="saveBU(buForm)">Save Business Unit</button>
</form>
